/* Estilo Geral */
body {
    background-color: #f0f0f0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

header {
    width: 100%; /* Largura da tela inteira */
    max-width: 1280px; /* Limite de largura*/
    height: auto;
    background-color: #0bb3e6;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    margin: 0 auto; /* Centraliza o cabeçalho na página */
    padding: 10px;
    border: 3px solid #b6eeff;
    color: #000000;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px; /* Espaço entre os elementos do menu*/
    margin-top: 10px; /* Margem do topo da página*/
}

#menu a {
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #0bb3e6;
    border-radius: 10px;
    text-align: center;
}

#menu a:hover {
    background-color: #48c9f0;
    color: #000000;
    text-decoration: underline;
}

h1, h2 {
    text-align: center;
    color: #000000;
}

#topicos {
   
    padding: 10px;
    text-align: center;
    background-color: #05b4e9;
    color: #ffffff;
    margin-bottom: 20px;
}

#conteudo {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#conteudo section {
    border: 2px solid #0b7797;
    padding: 20px;
}

img {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

#rodape {
    margin-top: 30px;
    text-align: center;
    padding: 10px;
}

#link {
    text-align: center;
}

/* Responsividade */

/* Para telas pequenas (smartphones) */
@media (max-width: 600px) {
    #menu a {
        padding: 8px 12px;
    }
    #conteudo section {
        width: 100%;
        padding: 10px;
    }
}

/* Para telas médias (tablets) */
@media (min-width: 601px) and (max-width: 900px) {
    header, #conteudo {
        max-width: 90%;
    }
}
