/* Estilo Todas as páginas */
body {
    background-color: #f0f0f0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    width: 100%;
    max-width: 1280px; /* Limite máximo */
    height: auto; /* Altura automática */
    background-color: #0bb3e6;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 3px solid #b6eeff;
    color: #000000;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#menu a {
    padding: 10px;
    margin-left: 10px; /* Corrigido de 100p para 10px */
    text-decoration: none;
    color: #ffffff;
    border-radius: 100px;
    text-align: center;
}

#menu a:hover {
    background-color: #48c9f0b9;
    color: #000000;
    text-decoration: underline;
}

h1, h2 {
    text-align: center;
    color: #000000;
}

#topicos {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2px;
    text-align: center;
    background-color: #05b4e9;
}

img {
    width: 100%; /* Imagem ocupa 100% do contêiner */
    height: auto; /* Altura automática para manter a proporção */
}

#conteudo section {
    width: 100%; /* Seções ocupam 100% da largura */
    max-width: 3000px; /* Limite máximo */
    border: 2px solid #0b7797;
    padding: 20px;
}

article#conteudo {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#li_titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 28px;
    color: #0026ff;
}

#li_paragrafo {
    height: 45px;
}

#rodape {
    margin-top: 30px;
    text-align: center;
}

#img_estrutura {
    width: 100%; /* Imagem ocupa 100% do contêiner */
    height: auto; /* Altura automática */
}

#li_paragrafo_dis_maior {
    height: 65px;
}

#link {
    text-align: center;
}

/* Responsividade */
@media (max-width: 600px) {
    #menu {
        flex-direction: column; /* Altera a direção do menu */
    }
    #menu a {
        margin-left: 0; /* Remove a margem à esquerda */
        padding: 8px; /* Ajusta o padding */
    }
    article#conteudo {
        flex-direction: column; /* Alinha artigos verticalmente */
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    #menu a {
        margin-left: 20px; /* Margem reduzida */
    }
}

@media (min-width: 901px) {
    /* Para telas grandes */
}
